<footer role="contentinfo">
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>&copy;&nbsp;{{ site.time | date: '%Y' }} <a href="http://github.com/stepcode/">STEPcode</a> is distributed under the permissive BSD-3 license.  See our <a href="{{ site.repository }}/blob/master/COPYING">COPYING</a> file for details.</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Hosted by
        <a href="https://github.com">
<!--           <img src="/img/footer-logo.png" width="100" height="30" alt="GitHub • Social coding"> -->
            GitHub
        </a>
      </p>
    </div>
  </div>
</footer>
