---
layout: default
---

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <div class="improve right hide-on-mobiles">
            <!--
            FIXME this produces bad URLs
            have: https://github.com/stepcode/stepcode.github.io/edit/master//repo/_docs/usage.md
            want: https://github.com/stepcode/stepcode.github.io/edit/master/_docs/usage.md
            -->
            <a href="https://github.com/stepcode/stepcode.github.io/edit/master/{{ page.path }}"><i class="fa fa-pencil"></i> &nbsp;Improve this page</a>
          </div>
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

      {% include docs_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
